# Ignore Git & IDE files
.git
.gitignore
.vscode
.DS_Store

# Ignore Python Caches & Virtualenvs
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
venv/
env/
.env

# Ignore Local Temporary Backups
backups/
*.tar
*.tar.gz
logs/


# Ignore Documentation & Scratch Test Files
scratch/
browser/
